{% extends "main/base.html" %}
{% load static %}

{% block content %}
<main class="section">
    <div class="container">
            <h1 class="title-1">Contacts</h1>

            <ul class="content-list">
                <li class="content-list__item">
                    <h2 class="title-2">Location</h2>
                    <p>Perm, Russia</p>
                </li>
                <li class="content-list__item">
                    <h2 class="title-2">Telegram</h2>
                    <p><a href="tel:+79519437255">+7 (951) 943-72-55</a></p>
                </li>
                <li class="content-list__item">
                    <h2 class="title-2">Email</h2>
                    <p><a href="mailto:permakovkirill925@gmail.com">permakovkirill925@gmail.com</a></p>
                </li>
            </ul>
            

    </div>
</main>
{% endblock content %}